.container{
    margin: auto;
    padding: 0;
}

#signup{
    width: 490px;
}

#signup fieldset{
    border-radius: 8px;
    border: 1px solid white;
    box-shadow: 0 0 7px rgb(130, 125, 125);
    padding: 17px;
    margin-bottom: 10px;
}

#signup fieldset legend{
    border-radius: 8px;
    border: 5px solid #dededc;
    padding: 3px;
    background-color: #dfecdf;
    font-weight: bold;
}

#signup .form-group{
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
}

#signup .form-label{
    width: 25%;
    font-weight: bold;
}

#signup .form-input{
    border: 1px solid grey;
    width: 75%;
    border-radius: 5px;
    padding: 5px;
}

#signup .form-textarea{
    width: 98%;
}

#signup .form-button{
    border-radius: 15px;
    text-transform: uppercase;
    background-color: cadetblue;
    color: white;
    padding: 8px 30px;
    border: 1px solid cadetblue;
}

#signup .form-button-group{
    margin-top: 10px;
    display: flex;
    gap: 20px;
}

.capitalize{
    text-transform: uppercase;
}

@media screen and (max-width:768px) {
    #signup{
        width: 100%;
    }
    
    #signup .form-group{
        flex-direction: column;
    }
    
    #signup .form-label{
        width: 100%;
    }
    
    #signup .form-input{
        width: 100%;
    }
}

